# Add any directories, files, or patterns you don't want to be tracked by version control
template-anteprojeto-tads.aux
template-anteprojeto-tads.bbl
template-anteprojeto-tads.blg
template-anteprojeto-tads.brf
template-anteprojeto-tads.idx
template-anteprojeto-tads.log
template-anteprojeto-tads.pdf
template-anteprojeto-tads.synctex.gz